// watch.scss - styling for full screen video watching page
.watch {
    width: 100vw;
    height: 100vh;

    .back {
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;
        color: black; // change to white later
    }

    .video {
        width: 100%;
        height: 100%;
    }
}