// app.scss - imports a file of SASS variables and loads Bootstrap, enhanced CSS basically
:root{ // root matches root element of HTML document
  --main-color: #0b0b0b
}

.link {
    color: inherit; // inherit from parent
    text-decoration: none; // to remove underline for links
}