// location.scss - styling for featured page
.location {
    height: 70vh;
    position: relative;

    .category {
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: black;
        display: flex;
        align-items: center;

        select {
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color: white;
            margin-left: 20px;
            padding: 5px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box {
        margin: 10px;
        width: auto;

        .boxHeader {
            display: inline-flex;
            padding: 8px;
            font-size: 25px;
            background-color: #659DBD;
            border-radius: 20px;
            font-family: 'Playfair Display', serif;
            font-style: italic;

            &:hover {
                background-color: rgb(32, 218, 218);
            }

        }

        .boxHeader2 {
            display: inline-flex;
            padding: 5px;
            font-size: 5px;
            background-color: #659DBD;
            border-radius: 20px;
            font-family: 'Playfair Display', serif;
            font-style: italic;
            margin: -6px 0px;
        }

        .boxCaption {
            display: inline-flex;
            padding: 10px;
            font-size: 20px;
            background-color: #5d91ae;
            border-radius: 20px;
            font-family: 'Playfair Display', serif;
            
        }

        .boxDesc {
            display: inline-flex;
            padding: 10px;
            font-size: 16px;
            background-color: #5789a3;
            border-radius: 20px;
            font-family: 'Playfair Display', serif;

        }

    }

    .info {
        width: 50%;
        height: 60%;
        position: absolute;
        left: 5%;
        bottom: 100px;
        color: white;
        display: inline-flex;
        flex-direction: column;

        .locationName {
            margin: 20px 0px;
            font-size: 28px;
        }
        
        .stationName {
            margin: 10px 0px;
            font-size: 18px;
        }

        .desc {
            margin: 20px 0px;
        }

        .buttons {
            display: flex;

            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                font-weight: 500;
                margin-right: 10px;
                cursor: pointer;

                &.more {
                    background-color: goldenrod;
                    color: white;
                }

                &.diningCourt {
                    background-color: white;
                    color: var(--main-color);
                }

                span {
                    margin-left: 5px;
                }
            }
        }
    }

    .info2 {
        width: 25%;
        height: 60%;
        position: absolute;
        left: 35%;
        bottom: 100px;
        color: white;
        display: inline-flex;
        flex-direction: column;
    }

    .info3 {
        width: 25%;
        height: 60%;
        position: absolute;
        left: 60%;
        bottom: 100px;
        color: white;
        display: inline-flex;
        flex-direction: column;
    }

    .info3-1 {
        width: 25%;
        height: 60%;
        position: absolute;
        left: 55%;
        bottom: 100px;
        color: white;
        display: inline-flex;
        flex-direction: column;
    }

    .info4 {
        width: 25%;
        height: 60%;
        position: absolute;
        left: 70%;
        bottom: 100px;
        color: white;
        display: inline-flex;
        flex-direction: column;
    }

    .info5 {
        width: 25%;
        height: 60%;
        left: 85%;
        position: absolute;
        bottom: 100px;
        color: white;
        display: inline-flex;
        flex-direction: column;
    }
}